@font-face {
    font-family: Nexa-Heavy;

    src: url(fonte/Nexa-Heavy.ttf) format('truetype');
}


body {
    margin: 0;
    background-image: url("img/Fundo do site.png");
    background-repeat: repeat-y;
    background-position: top center;
    background-size: cover;
    font-family: Nexa-Heavy, sans-serif;
    
}

/* Fundo espacial */

.space-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;

    background:
        radial-gradient(circle at 20% 30%, rgba(83,60,255,.25), transparent 35%),
        radial-gradient(circle at 80% 70%, rgba(0,195,255,.15), transparent 40%);
}


.stars{

    position: absolute;
    width: 100%;
    height: 100%;

    background-image:
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(#ffed00 1px, transparent 1px),
        radial-gradient(#8ec5ff 1px, transparent 1px);

    background-size:
        170px 170px,
        250px 250px,
        320px 320px;

    background-position:
        0 0,
        90px 120px,
        200px 40px;

    animation: piscar 5s infinite alternate;

}


/* Piscar estrelas */

@keyframes piscar{

    from{
        opacity: .5;
    }

    to{
        opacity: 1;
    }

}




.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite quebrar linha */
    gap: 80px;
    padding: 20px;
    margin-top: 4%;
    transition: 0.2s;
}

.botoes {
    text-decoration: none;
    color: #ffed00;
    font-size: 1.1rem;
    transition: 0.2s;
}

.botoes:hover {
    color: black;
}


.logo-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.logo {
    width: 35%;
    max-width: 450px;
    min-width: 180px;
    height: auto;
    margin-top: 3%;
}


.slogan {
    text-align: center;
    color: #ebbc73;
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 2%;
}

.saibamenu{
    display: flex;
    justify-content: center;
     
}

.saibamais{
    text-decoration: none;
    margin-top: 5%;
    color: #ffed00;
    font-size: 120%;
    border: solid #ffed00 2px;
    padding: 20px;
    border-radius: 7px;
    transition: 0.2s;
}

.saibamais:hover{
background-color: #ffed00;
color: #1f1843;
}





.infpro{
    margin-top: 20%;
    background-color: rgb(27, 41, 96);
    padding: 80px 40px;
    padding-bottom: 200px;
    padding-top: 200px;

box-shadow: 50px 10px 30px #000000

}

.infopro2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    margin: auto;
}

.infopro3{
    max-width: 600px;
}

.infpro_text1{
    color: #ffed00;
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 1px 3px 2px black;
}

.infpro_text2{
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.6;
}

.destaque{
    color: #ffed00;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 10px 0;
}

.infopro_img{
    width: 30%;
    max-width: 350px;
    border-radius: 10px;
    transition: 0.2s;
}

.infopro_img:hover{
    width: 50%;
    max-width: 380px;
}

.flawed1{
    background: #3f90b0;
background: linear-gradient(90deg, rgba(63, 144, 176, 1) 0%, rgba(59, 51, 220, 1) 100%);
    padding: 80px 40px;
}

.flawed2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    max-width: 1200px;
    margin: auto;
}

.flawed3{
    max-width: 600px;
}

.flawed_text1{
    color: rgb(207, 163, 234);
    font-size: 4rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.flawed_text2{
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
}

.flawed_destaque2{
    color: #ffed00;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.flawed_destaque{
    color: #1e12cc;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

.flawed_img{
    width: 70%;
    max-width: 450px;
    border-radius: 10px;
    transition: 0.2s;
}

.flawed_img:hover{
        width: 80%;
        max-width: 480px;
    }



/* TABLETS */
@media (max-width: 768px) {

    .menu {
        gap: 25px;
    }

    .botoes {
        font-size: 1rem;
    }

    .logo {
        width: 60%;
    }

    .slogan {
        font-size: 1rem;
    }

    .saibamais{
        margin-top: 9%;
        padding: 15px;
    }

  .infopro2{
    flex-direction: column;
    text-align: center;
    gap: 30px;
    }

    .infopro_img{
        width: 40%;
    }

     .flawed2{
    flex-direction: column;
    text-align: center;
    gap: 30px;
    }

    .flawed_img{
        width: 60%;
    }

    


}

/* CELULARES */
@media (max-width: 480px) {

    .menu {
        flex-direction: row; 
        gap: 8px;
        padding: 15px;
    }

    .botoes {
        font-size: 1rem;
        padding: 5px;
    }

    .logo {
        width: 80%;
        max-width: 250px;
    }

    .slogan {
        font-size: 0.95rem;
        padding: 0 15px;
    }

     .saibamais{
        margin-top: 9%;
        padding: 12px;
    }

    .infpro{
        padding: 50px 20px;
    }

    .infpro_text1{
        font-size: 2.2rem;
    }

    .infpro_text2{
        font-size: 1rem;
    }

    .destaque{
        font-size: 1.3rem;
    }

    .infopro_img{
        width: 80%;
    }
   
    .flawed{
        padding: 50px 20px;
    }

    .flawed_text1{
        font-size: 2.2rem;
    }

    .flawed_text2{
        font-size: 1rem;
    }

    .flawed_destaque{
        font-size: 1.3rem;
    }
    .flawed_destaque2{
        font-size: 1.3rem;
    }


    .flawed_img{
        width: 80%;
    }
   



}


